@import './scss/card';
@import './scss/mixins';
@import './scss/variables';

#root {
  width: 100%;
}

.container {
  width: 70%;
  margin: auto;
  justify-content: center;
}

.row {
  height: 300vh;
}

body {
  font-family: $fonts;
  background-color: $primary-color;
  padding: $spacing;
  min-height: 100vh;
  @include flex-center();
}